<div class="availability-container">
  <h2>Gestion des Disponibilités</h2>

  <!-- Formulaire pour ajouter une nouvelle disponibilité -->
  <div class="add-availability-form">
    <input
            type="date"
            [(ngModel)]="newAvailability.date"
            placeholder="Date"
    />
    <input
            type="time"
            [(ngModel)]="newAvailability.time"
            placeholder="Heure"
    />
    <button (click)="addAvailability()">Ajouter disponibilité</button>
  </div>

  <ul>
    <li *ngFor="let availability of availabilities; let i = index">
      <span>{{ availability.date }} - {{ availability.time }} : </span>
      <button (click)="toggleAvailability(i)">
        {{ availability.available ? 'Disponible' : 'Indisponible' }}
      </button>
      <button (click)="editAvailability(i)">Modifier</button>
      <button (click)="deleteAvailability(i)">Supprimer</button>

    </li>
  </ul>
</div>
