<h1>Liste des rendez vous</h1>
<li *ngFor="let appointment of professionalAppointments">

  <div>
    <span>{{ appointment.date }}</span> -
    <span>{{ appointment.time }}</span> -
    <span [class]="'status-' + appointment.status.replace(' ', '-')">
      {{ appointment.status }}
    </span>
  </div>
  <div>
    <button *ngIf="appointment.status === 'en attente'" (click)="confirmAppointment(appointment)">
      Confirmer
    </button>
    <button *ngIf="appointment.status === 'en attente'" (click)="cancelAppointment(appointment)">
      Annuler
    </button>
  </div>
</li>
